.imagen_pie {
    text-align: center;
    padding: 1%;
}

#logo_header {
    height: 10%;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

a:hover {
    background-color: rgb(146, 198, 204);
}

footer {
    background-color:black;
    height: 100px;
}

.boton_nav {
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 5px;
    padding: 5px;
}

#imagen_principal {
    width: 100%;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: dimgray;
}

th {
    background-color:rgb(139, 241, 194);
}